langchain==1.3.9
langchain-core==1.4.7
langchain-community==0.4.2
langchain-huggingface==1.2.2
langchain-chroma==1.1.0
langchain-text-splitters==1.1.2
langchain-experimental
sentence-transformers==3.0.1
chromadb
pymupdf
pdfplumber
rank-bm25
bitsandbytes
accelerate
scikit-learn
bert-score
gradio
torch
transformers
numpy
pyyaml
huggingface_hub
